<footer class="bg-orange-800 text-white py-6">
    <div class="container mx-auto flex flex-col items-center gap-4">
        <ul class="flex flex-col gap-2 items-center lg:flex-row lg:gap-6 font-semibold">
            <li><a href="../../p1/index.html" class="text-white hover:text-green-500">Home</a></li>
            <li><a href="../../p1/causes-consequences.html" class="text-white hover:text-green-500">Causas e Consequências</a></li>
            <li><a href="../../p1/prevention-combat.html" class="text-white hover:text-green-500">Prevenção e Combate</a></li>
            <li><a href="../../p1/gallery.html" class="text-white hover:text-green-500">Galeria</a></li>
            <li><a href="../../p1/contact.html" class="text-white hover:text-green-500">Contato</a></li>
        </ul>

        <p class="text-center">&copy; 2024 Queimadas Info. Todos os direitos reservados.</p>

        <div class="flex gap-4 font-semibold">
            <a href="#" class="hover:text-green-500">Facebook</a>
            <a href="#" class="hover:text-green-500">Instagram</a>
            <a href="#" class="hover:text-green-500">Twitter</a>
        </div>
    </div>
</footer>