<nav class="bg-orange-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="../../p1/index.html" class="text-white text-2xl font-bold">Notícias Brasil</a>

        <!-- Botão para abrir e fechar o menu mobile -->
        <div class="lg:hidden">
            <button id="menu-btn" onclick="toggleMobileMenu()" class="text-white focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                    </path>
                </svg>
            </button>
        </div>

        <!-- Menu não mobile -->
        <ul class="hidden lg:flex gap-4 font-semibold">
            <li><a href="../../p1/index.html" class="text-white hover:text-green-500">Home</a></li>
            <li><a href="../../p1/causes-consequences.html" class="text-white hover:text-green-500">Causas e Consequências</a></li>
            <li><a href="../../p1/prevention-combat.html" class="text-white hover:text-green-500">Prevenção e Combate</a></li>
            <li><a href="../../p1/gallery.html" class="text-white hover:text-green-500">Galeria</a></li>
            <li><a href="../../p1/contact.html" class="text-white hover:text-green-500">Contato</a></li>
        </ul>
    </div>

    <!-- Menu Mobile -->
    <div id="mobile-menu" class="hidden lg:hidden bg-orange-800 max-h-0 overflow-hidden text-center mt-2 font-semibold">
        <ul class="flex flex-col gap-2 p-4">
            <li><a href="../../p1/index.html" class="text-white hover:text-green-500">Home</a></li>
            <li><a href="../../p1/causes-consequences.html" class="text-white hover:text-green-500">Causas e Consequências</a></li>
            <li><a href="../../p1/prevention-combat.html" class="text-white hover:text-green-500">Prevenção e Combate</a></li>
            <li><a href="../../p1/gallery.html" class="text-white hover:text-green-500">Galeria</a></li>
            <li><a href="../../p1/contact.html" class="text-white hover:text-green-500">Contato</a></li>
        </ul>
    </div>
</nav>

